@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* home Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: white;
}


.company-name {
    text-decoration: solid;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    color: black;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.logo {
    display: block;
    margin: 0 auto 10px;
    width: 90px;      
    height: auto;
}

.wrapper{
    width: 420px;
    background: black;
    color: white;
    border-radius: 10px ;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: white;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(215, 215, 215, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #333;
    padding: 20px 45px 20px 20px;
}

.input-box input ::placeholder{
    color: #fff;
}

.input-box input ::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: red;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font: size 16px; 
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: red;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}


.form-box {
    height: auto;
}

.wrapper .sign up {
    width: 420px;
    padding-bottom: 40px;
}

select {
    font-size: 15px;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
}

h2 {
    font-size: 15px;
}

.input-box3 {
    margin-top: 15px;
}

.btn3 {
    margin-bottom: 10px;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/fitness\ girl1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 70px;
    ;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 65px;
}

.text-box h2 {
    font-size: 20px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff
}


@media(max-width: 700px){
    .text-box h1{
    font-size: 62px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        
    }
}

.products {
    padding: 30px 10%;
    text-align: center;
}

.products h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.products h3 {
    font-size: 12px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    width: 30%;
    background: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.product-card img {
    width: 100%;
    height: 120px;
    object-fit: fill;
    border-radius: 5px;
}

.product-card button {
    background: red;
    color: white;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.product-card button:hover {
    background: red;
}

/* Cardio Page */

.cardio-wall {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/cardio\ wallp1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.cardio-text h2 {
    font-size: 35px;
    font-style: italic;
    color: #fff;
}

.cardio-text p {
    margin-bottom: 20px;
    color:#fff;
}

.cardiovascular {
    padding: 30px 10%;
    text-align: center;
}
.cardiovascular h2{
    margin: 
    font-size: 30px;
    font-style:oblique;
}

.cardiocascular {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.cardio-products {
    width: 30%;
    background: #f4f4f4;
    padding: 20px;;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cardio-products {
    font-size: 12px;
}

.cardio-products img {
    width: 100%;
    height: 120px;
    object-fit: fill;
    border-radius: 5px;
}

.cardio-products button{
    background: red;
    color: white;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;  
}
.cardio-products button:hover{
    background: red;
}
.cardio {
    padding: 30px 10%;
    text-align: center;
}
.cardio-text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.cardio {
    padding: 30px 10%;
    text-align: center;
}

.cardio h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

/* Strength Page */

.strength-wall {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/strength\ workout.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.strength-text h2 {
    font-size: 35px;
    font-style: italic;
    color: #fff;
}

.strength-text p {
    margin-bottom: 20px;
    color:#fff;
}

.strength-trainer {
    padding: 30px 10%;
    text-align: center;
}
.strength-trainer h2{
    margin: 
    font-size: 30px;
    font-style:oblique;
}

.strength-trainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.strength-products {
    width: 30%;
    background: #f4f4f4;
    padding: 20px;;
    margin-bottom: 20px;
    border-radius: 10px;
}

.strength-products {
    font-size: 12px;
}

.strength-products img {
    width: 100%;
    height: 120px;
    object-fit: fill;
    border-radius: 5px;
}

.strength-products button{
    background: red;
    color: white;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;  
}
.strength-products button:hover{
    background: red;
}
.strength {
    padding: 30px 10%;
    text-align: center;
}
.strength-text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.strength {
    padding: 30px 10%;
    text-align: center;
}

.strength h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

/*   Functional Page  */

.functional-wall {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/functional\ workouts.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.functional-text h2 {
    font-size: 35px;
    font-style: italic;
    color: #fff;
}

.functional-text p {
    margin-bottom: 20px;
    color:#fff;
}

.functionality {
    padding: 30px 10%;
    text-align: center;
}
.functionality h2{
    margin: 
    font-size: 30px;
    font-style:oblique;
}

.functionality {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}

.functional-products {
    width: 30%;
    background: #f4f4f4;
    padding: 20px;;
    margin-bottom: 20px;
    border-radius: 10px;
}

.functional-products {
    font-size: 12px;
}

.functional-products img {
    width: 100%;
    height: 120px;
    object-fit: fill;
    border-radius: 5px;
}

.functional-products button{
    background: red;
    color: white;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;  
}
.functional-products button:hover{
    background: red;
}
.functional {
    padding: 30px 10%;
    text-align: center;
}
.function-text {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.functional {
    padding: 30px 10%;
    text-align: center;
}

.functional h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

/*  On Sale Page  */

.on sale-wall {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/Gym\ models1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}